@import url("https://fonts.googleapis.com/css2?family=Prompt:wght@700&display=swap");

.welcome {
  display: flex;
  align-items: center;
  height: 100vh;
}

.wrapper {
  margin: 0 auto;
  vertical-align: middle;
  text-align: center;
  width: 110rem;
  background: #1b1d31;
  color: #fff;
  padding: 9rem 0;
}

.title {
  font-size: 3rem;
  font-weight: 700;
  line-height: 4.5rem;
  text-align: center;
  font-family: "Prompt", sans-serif;
  margin-bottom: 1rem;
}

.welcome p {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 1.6rem;
  opacity: 0.7;
}
.btn {
  margin-top: 3rem;
}
