.container {
  display: flex;
  color: #fff;
  gap: 3rem;
  justify-content: space-between;
  font-family: Arial;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 2.4rem;
  letter-spacing: 0em;
  text-align: left;
  text-transform: uppercase;
}
