.container {
  display: flex;
  color: #fff;
  gap: 30px;
  justify-content: space-between;
  font-family: Arial;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}
