.container,
.containerWithoutPhoto {
  display: flex;
  padding: 2rem;
  background: #373b62;
  border: 1px solid #373b62;
  border-radius: 5px;
  gap: 2rem;
  justify-content: space-between;
  align-items: center;
}

.containerWithoutPhoto {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.playBtn {
  position: relative;
  width: 11.4rem;
  height: 11.4rem;
  background: linear-gradient(
    148.42deg,
    #ec1919 -0.53%,
    #d1c234 28.02%,
    #d134a5 60.47%,
    #3734d1 90.32%,
    #23b632 124.06%
  );
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}
.playBtnWithoutPhoto {
  width: 4.7rem;
  height: 4.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.playBtn img {
  object-fit: cover;
  object-position: 50% 20%;
  z-index: 0;
  height: 11.4rem;
  width: 11.4rem;
}
.scrollBar {
  position: relative;
  flex: 1 1 auto;
  height: 4.6rem;
}

.background {
  position: absolute;
  width: 100%;
  height: 5px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  pointer-events: none;
  background: #494d77;
}
.progressField {
  position: absolute;
  width: 0%;
  height: 5px;
  top: 50%;
  transform: translate(0, -50%);
  border-radius: 10px;
  pointer-events: none;
  background: linear-gradient(270deg, #7e55b3 0%, #a769c4 100.02%);
}

.input {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  -webkit-appearance: none; /**/
  background-color: transparent; /**/
  height: 100%;
  width: 100%; /**/
  cursor: pointer;
  display: block;
}

/* input[type="range"]::-moz-range-thumb,
input[type="range"]::-webkit-slider-thumb {
  color: #fff;
} */

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 1px solid #000000;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 50%;
  background: #ffffff;
  cursor: pointer;
}

input[type="range"]::-webkit-slider-thumb:hover {
  height: 1.7rem;
  width: 1.7rem;
  border: 1px solid #373b62;
}

input[type="range"]:focus {
  outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}
input[type="range"]::-ms-track {
  width: 100%;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

.timeIndicator {
  position: absolute;
  /* top: 65%;
  left: 50%;
  transform: translate(-50%, -50%); */
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: rgba(250, 250, 250, 0.7);

  font-family: Arial;
  font-size: 1.2rem;
  font-weight: 400;
}

.circle {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4.7rem;
  height: 4.7rem;
  background-color: rgba(250, 250, 250, 0.7);
  border-radius: 50%;
  color: #373b62;
  transition: all 0.2s ease;
  font-size: 1.4rem;
  /* 
  padding-left: 3px;
  padding-top: 2px; */
}
.circle:hover {
  width: 5.9rem;
  height: 5.9rem;
  background-color: rgba(250, 250, 250, 1);
}

/* .circle::after {
  content: "";
  position: absolute;
  z-index: 100;
  top: 50%;
  left: 16%;
  transform: translate(50%, -50%);
  border: 10px solid transparent;
  border-left: 13px solid #373b62;
} */
